# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
out/

# === VS Code ===
.vscode/

# === Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# === Logs ===
*.log

# === OS files ===
.DS_Store
Thumbs.db

# === Temporary files ===
*.tmp
*.bak

# === Environment / Secrets ===
# Не храним локальные настройки
src/main/resources/application.properties
